<form *ngIf ="!successMessage">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" name="email" [ngModel]="resetPasswordModel.email" readonly="true" class="form-control" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="password" [(ngModel)]="resetPasswordModel.password" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" name="confirmpassword" [(ngModel)]="resetPasswordModel.confirmpassword" class="form-control" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary" (click)="requestResetEmail()">Submit</button>
</form>

<p *ngIf="errorMessage" [hidden]="successMessage || resetPasswordModel.password || resetPasswordModel.confirmpassword" class="text-danger">{{ errorMessage }}</p>
<h1 *ngIf="successMessage" class="text-success"> {{ successMessage }} </h1>